@theme {
  /* Buttons */
  --shadow-button-primary:
    0px 0px 0px 1px var(--color-white-200) inset,
    0px 1px 2px 0px rgba(46, 18, 94, 0.4),
    0px 0px 0px 1px var(--color-violet-600);

  --shadow-button-primary-focus:
    0px 0px 0px 1px var(--color-white-200) inset,
    0px 1px 2px 0px rgba(46, 18, 94, 0.4),
    0px 0px 0px 1px var(--color-violet-600), 0px 0px 0px 2px #fff,
    0px 0px 0px 4px rgba(120, 57, 238, 0.6);

  --shadow-button-focus:
    0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 0px 0px 2px #fff, 0px 0px 0px 4px rgba(120, 57, 238, 0.6);

  --shadow-button-primary-hover:
    0px 0px 0px 1px var(--color-white-200) inset,
    0px 1px 3px 0px rgba(46, 18, 94, 0.6),
    0px 0px 0px 1px var(--color-violet-600);

  --shadow-button-neutral:
    0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);

  --shadow-button-neutral-hover:
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);

  --shadow-button-ghost-hover: 0px 0px 0px 1px
    var(--color-foreground-fg-faint, rgba(229, 229, 229, 0.6));

  --shadow-button-danger:
    0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset,
    0px 1px 2px 0px rgba(85, 22, 12, 0.4), 0px 0px 0px 1px var(--color-red-600);

  --shadow-button-danger-hover:
    0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset,
    0px 1px 3px 0px rgba(85, 22, 12, 0.6), 0px 0px 0px 1px var(--color-red-600);

  --shadow-button-danger-focus:
    0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset,
    0px 1px 2px 0px rgba(85, 22, 12, 0.4), 0px 0px 0px 1px rgba(217, 45, 32, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 4px rgba(120, 57, 238, 0.6);

  --shadow-button-danger-ghost-hover: 0px 0px 0px 1px rgba(254, 228, 226, 1)
    inset;

  --shadow-button-danger-ghost-focus:
    0px 0px 0px 1px rgba(255, 255, 255, 0.2) inset,
    0px 1px 2px 0px rgba(85, 22, 12, 0.12),
    0px 0px 0px 1px rgba(254, 228, 226, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 4px rgba(120, 57, 238, 0.6);

  --shadow-tab-rec-selected:
    0px 1px 3px 0px
      var(--color-shadow-tab-button-active, rgba(20, 20, 20, 0.12)),
    0px 1px 2px -1px
      var(--color-shadow-tab-button-active, rgba(20, 20, 20, 0.12));

  /* Inputs */
  --shadow-input-rest:
    0px 0px 0px 1px rgba(214, 214, 214, 0.7) inset,
    0px 1px 2px 0px rgba(18, 18, 23, 0.05);

  --shadow-input-hover:
    0px 0px 0px 1px rgba(163, 163, 163, 0.7) inset,
    0px 1px 2px 0px rgba(18, 18, 23, 0.05),
    0px 0px 0px 3px rgba(20, 20, 20, 0.05);

  --shadow-input-active:
    0px 0px 0px 1px var(--color-violet-400) inset,
    0px 1px 2px 0px rgba(18, 18, 23, 0.05),
    0px 0px 0px 3px var(--color-violet-100);

  --shadow-input-error:
    0px 0px 0px 1px var(--color-red-500) inset,
    0px 1px 2px 0px rgba(18, 18, 23, 0.05), 0px 0px 0px 3px var(--color-red-100);

  /* Elevation */
  --shadow-card-flyout:
    0px 0px 0px 1px rgba(9, 9, 11, 0.05), 0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 8px 16px 0px rgba(0, 0, 0, 0.08);

  --shadow-card-flyout-subtle:
    0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 0px 0px 1px rgba(9, 9, 11, 0.05);

  --shadow-card-rest-flat:
    0px 1px 2px 0px rgba(214, 214, 214, 0.5),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6);
  --shadow-card-rest:
    0px 0px 0px 1px rgba(9, 9, 11, 0.05), 0px 1px 2px 0px rgba(9, 9, 11, 0.05);
  --shadow-card-rest-active:
    0px 0px 0px 1px var(--color-violet-400),
    0px 1px 2px 0px rgba(9, 9, 11, 0.05);
  --shadow-card-hover:
    0px 0px 0px 1px rgba(20, 20, 20, 0.06),
    0px 0px 0px 5px rgba(20, 20, 20, 0.03), 0px 1px 2px 0px rgba(9, 9, 11, 0.05);
  --shadow-card-hover-active:
    0px 0px 0px 1px var(--color-violet-400),
    0px 0px 0px 5px rgba(120, 57, 238, 0.06),
    0px 1px 2px 0px rgba(9, 9, 11, 0.05);

  --shadow-kbd-shortcut-dark: 0px 0px 0px 1px var(--color-gray-700, #424242);
  --shadow-kbd-shortcut: 0px 0px 0px 1px var(--color-gray-200, #e5e5e5);

  /* Board Alert Icon */
  --shadow-board-alert-icon-green: inset 0px 0px 0px 1px rgba(220, 250, 230, 1);

  --shadow-board-alert-icon-orange: inset 0px 0px 0px 1px rgba(253, 234, 215, 1);

  --shadow-board-alert-icon-violet: inset 0px 0px 0px 1px rgba(236, 233, 254, 1);

  --shadow-board-alert-icon-indigo: inset 0px 0px 0px 1px rgba(224, 234, 255, 1);

  --shadow-board-alert-icon-cyan: inset 0px 0px 0px 1px rgba(207, 249, 254, 1);

  --shadow-board-alert-icon-red: inset 0px 0px 0px 1px rgba(254, 228, 226, 1);

  --shadow-board-alert-icon-gray: inset 0px 0px 0px 1px rgba(229, 229, 229, 0.7);

  --shadow-file-uploader:
    0px 0px 0px 1px rgba(164, 138, 251, 1),
    0px 0px 0px 4px rgba(236, 233, 254, 1),
    0px 1px 2px 0px rgba(18, 18, 23, 0.05);

  --shadow-toast:
    0px 0px 0px 1px rgba(229, 229, 229, 0.7),
    0px 4px 8px 0px rgba(41, 41, 41, 0.08),
    0px 8px 16px 0px rgba(41, 41, 41, 0.08);

  /* Switch */
  --shadow-switch:
    0px 0px 8px 0px rgba(0, 0, 0, 0.02) inset,
    0px 0px 0px 0.75px rgba(0, 0, 0, 0.06) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.04) inset,
    0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset;

  --shadow-switch-disabled:
    0px 0px 8px 0px rgba(0, 0, 0, 0.02) inset,
    0px 0px 0px 0.75px rgba(0, 0, 0, 0.06) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.04) inset,
    0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);

  --shadow-switch-thumb:
    0px 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 3px 0px rgba(0, 0, 0, 0.04), 0px 5px 4px 0px rgba(0, 0, 0, 0.02),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.02), inset 0px 1px 0px #fff,
    inset 0px -1px 2px rgba(255, 255, 255, 1);

  /* Option Selector */
  --shadow-option-selector:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

  --shadow-option-selector-checked:
    0px 0px 0px 1px rgba(120, 57, 238, 1),
    0px 1px 2px 0px rgba(73, 28, 150, 0.5);

  --shadow-option-selector-focus:
    0px 0px 0px 1px rgba(120, 57, 238, 1), 0px 0px 0px 2px #fff,
    0px 0px 0px 4px rgba(120, 57, 238, 0.6),
    0px 1px 2px 0px rgba(73, 28, 150, 0.5);

  --shadow-option-selector-disabled:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

  /* Auth Aside */
  --profile-illustration-active:
    0px 0px 0px 1px rgba(229, 229, 229, 0.7) inset,
    0px 1px 2px 0px rgba(18, 18, 23, 0.05);

  --profile-illustration-inactive: 0px 0px 0px 1px rgba(229, 229, 229, 0.7)
    inset;

  /* Home Widget */
  --shadow-home-widget-illustration-border: inset 0px 0px 0px 1px
    rgba(245, 245, 245, 1);

  /* Sidebar Navigation Link */
  --shadow-sidebar-navigation-link-active:
    0px 0px 0px 1px rgba(135, 91, 247, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    inset 0px -2px 0px 0px rgba(120, 57, 238, 0.12);

  --shadow-sidebar-navigation-link-hover: 0px 0px 0px 1px
    rgba(229, 229, 229, 0.9);

  /* Icon Tooltip */
  --shadow-icon-tooltip: 0px 0px 0px 1px rgba(229, 229, 229, 0.6);

  --shadow-icon-tooltip-with-border:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /* Social Icon */
  --shadow-social-icon-border: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);

  /* Profile Button */
  --shadow-profile-button: 0px 0px 0px 1px rgba(229, 229, 229, 0.9);

  /* Dashboard Content Holder */
  --shadow-dashboard-content-holder:
    0px 1px 2px 0px rgba(15, 15, 15, 0.05),
    0px 0px 0px 1px rgba(15, 15, 15, 0.05);

  /* Floating Dashboard Settings */
  --shadow-floating-dashboard-settings:
    0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 0px 0px 1px rgba(9, 9, 11, 0.05);

  /* Slideover Panel */
  --shadow-slideover-panel:
    0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 0px 0px 1px rgba(9, 9, 11, 0.05);

  /* Select */
  --shadow-select-viewport:
    0px 4px 20px 0px rgba(20, 20, 20, 0.04),
    0px 2px 8px 0px rgba(20, 20, 20, 0.08),
    0px 0px 0px 1px rgba(20, 20, 20, 0.05);

  --shadow-select-item-hover: inset 0px 0px 0px 1px rgba(20, 20, 20, 0.02);

  --shadow-select-trigger:
    0px 0px 0px 1px rgba(18, 18, 23, 0.08),
    0px 1px 2px 0px rgba(18, 18, 23, 0.08);

  --shadow-select-trigger-hover:
    0px 0px 0px 3px rgba(20, 20, 20, 0.05),
    0px 1px 2px 0px rgba(18, 18, 23, 0.05),
    inset 0px 0px 0px 1px rgba(163, 163, 163, 0.7);

  --shadow-select-trigger-focus:
    0px 0px 0px 3px rgba(236, 233, 254, 1),
    0px 1px 2px 0px rgba(18, 18, 23, 0.05),
    inset 0px 0px 0px 1px rgba(164, 138, 251, 1);

  --shadow-select-trigger-error:
    0px 0px 0px 3px rgba(254, 228, 226, 1),
    0px 1px 2px 0px rgba(18, 18, 23, 0.05),
    inset 0px 0px 0px 1px rgba(240, 68, 56, 1);

  --shadow-select-trigger-disabled:
    0px 0px 0px 1px rgba(18, 18, 23, 0.08),
    0px 1px 2px 0px rgba(18, 18, 23, 0.08);

  /* Slider */
  --shadow-slider-thumb:
    0px 0px 0px 3px rgba(135, 91, 247, 1) inset,
    0px 1px 2px 0px rgba(73, 28, 150, 0.5) inset,
    inset 0px -2px 2px 0px rgba(214, 214, 214, 1);

  --shadow-slider-thumb-focus:
    0px 0px 0px 3px rgba(120, 57, 238, 1) inset,
    0px 1px 2px 0px rgba(73, 28, 150, 0.5) inset,
    inset 0px -3px 2px 0px rgba(214, 214, 214, 1);

  /* Elevation - Subtle */
  --shadow-card-subtle:
    0px 2px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6);

  --shadow-quick-stats-card-hover:
    0px 2px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6),
    inset 0px 0px 0px 2px rgba(255, 255, 255, 1);

  --shadow-availability-card-hover:
    0px 2px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6),
    inset 0px 0px 0px 3px rgba(255, 255, 255, 1);

  /* Badge */
  --shadow-badge-violet: inset 0px 0px 0px 1px rgba(221, 214, 254, 0.7);

  --shadow-badge-orange: inset 0px 0px 0px 1px rgba(249, 219, 175, 0.7);

  --shadow-badge-green: inset 0px 0px 0px 1px rgba(171, 239, 198, 0.7);

  --shadow-badge-red: inset 0px 0px 0px 1px rgba(254, 205, 202, 0.7);

  --shadow-badge-gray: inset 0px 0px 0px 1px rgba(229, 229, 229, 0.7);

  --shadow-badge-contrast: inset 0px 0px 0px 1px rgba(82, 82, 82, 1);

  /* Waitlist */
  --shadow-waitlist-pill:
    0px -1.5px 0px 0px rgba(0, 0, 0, 0.05) inset,
    0px 1px 2px 0px rgba(214, 214, 214, 0.5),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6);

  --shadow-waitlist-avatar:
    0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 0px 2px #fff;

  --shadow-card-border:
    0px 1px 2px 0px rgba(214, 214, 214, 0.5),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6);

  --shadow-card-gray:
    0px 1px 2px 0px rgba(66, 66, 66, 0.08),
    0px 4px 6px 0px rgba(66, 66, 66, 0.04),
    0px 24px 40px -16px rgba(82, 82, 82, 0.08);

  --shadow-card-green:
    0px 1px 2px 0px rgba(6, 118, 71, 0.08),
    0px 4px 6px 0px rgba(6, 118, 71, 0.04),
    0px 24px 40px -16px rgba(7, 148, 85, 0.08);

  --shadow-card-rose:
    0px 1px 2px 0px rgba(192, 16, 72, 0.08),
    0px 4px 6px 0px rgba(192, 16, 72, 0.04),
    0px 24px 40px -16px rgba(227, 27, 84, 0.08);

  --shadow-card-orange:
    0px 1px 2px 0px rgba(185, 56, 21, 0.08),
    0px 4px 6px 0px rgba(185, 56, 21, 0.04),
    0px 24px 40px -16px rgba(224, 79, 22, 0.08);

  --shadow-card-violet:
    0px 1px 2px 0px rgba(105, 39, 218, 0.08),
    0px 4px 6px 0px rgba(105, 39, 218, 0.04),
    0px 24px 40px -16px rgba(120, 57, 238, 0.08);

  --shadow-card-avatar:
    0px 0px 0px 2px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.02);

  --shadow-footer-social-link-hover:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /* Border */
  --shadow-border-subtle: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.03);

  --shadow-section-content-card:
    0px 0px 0px 1px rgba(229, 229, 229, 0.6),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 2px 0px rgba(0, 0, 0, 0.01);

  --shadow-integrations-image:
    0px 0px 0px 1px rgba(229, 229, 229, 0.7) inset,
    0px -3.5px 0px 0px rgba(0, 0, 0, 0.04) inset;

  /* Alert */
  --shadow-alert-neutral: inset 0px 0px 0px 1px rgba(229, 229, 229, 0.7);
  --shadow-alert-brand: inset 0px 0px 0px 1px rgba(221, 214, 254, 0.5);
  --shadow-alert-warning: inset 0px 0px 0px 1px rgba(249, 219, 175, 0.5);
  --shadow-alert-error: inset 0px 0px 0px 1px rgba(254, 205, 202, 0.5);

  /* Join Pineway Button */
  --shadow-join-pineway-button:
    0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 0px 0px 2px rgba(41, 41, 41, 1),
    inset 0px 0px 5px 2px rgba(255, 255, 255, 0.2);

  --shadow-join-pineway-button-hover:
    0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 0px 0px 2px rgba(41, 41, 41, 1),
    inset 0px 0px 5px 2px rgba(255, 255, 255, 0.36);

  /* Join Community Button */
  --shadow-join-community-button:
    0px 0px 0px 1px rgba(229, 229, 229, 0.7),
    inset 0px -2px 4px 0px rgba(229, 229, 229, 0.7);

  --shadow-join-community-button-hover:
    0px 0px 0px 1.5px rgba(135, 91, 247, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    inset 0px -2px 4px 0px rgba(120, 57, 238, 0.12);

  /* Purchase Product Modal */
  --shadow-purchase-modal-divider: inset -1px 0px 0px 0px rgba(229, 229, 229, 1);

  /* Mobile Preview */
  --shadow-mobile-preview-outer:
    0px 0px 0px 1px rgba(41, 41, 41, 0.08),
    0px 4px 8px 0px rgba(41, 41, 41, 0.08), 0px 0px 0px 2px rgba(41, 41, 41, 1),
    inset 0px 0px 5px 2px rgba(255, 255, 255, 0.2);

  --shadow-mobile-preview-inner: 0px 0px 0px 3px rgba(20, 20, 20, 1);

  /* My Page Drop Indicator */
  --shadow-my-page-drop-indicator: 0 0 0 1px rgba(0, 0, 0, 0.02) inset;

  /* Share My Page Social Icon */
  --shadow-share-my-page-social-icon:
    0px 0px 0px 0.5px rgba(229, 229, 229, 0.7),
    inset 0px -2px 4px 0px rgba(229, 229, 229, 0.7);

  --shadow-share-my-page-social-icon-hover:
    0px 0px 0px 1.5px rgba(135, 91, 247, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    inset 0px -2px 4px 0px rgba(120, 57, 238, 0.12);

  /* Quick Link Widget */
  --shadow-quick-link-widget:
    0px 0px 0px 1px rgba(41, 41, 41, 0.08),
    0px 4px 8px 0px rgba(41, 41, 41, 0.08);

  /* Onboarding Checklist Dropdown Button */
  --shadow-onboarding-checklist-dropdown-button:
    0px 0px 0px 2px rgba(41, 41, 41, 1),
    inset 0px -2px 4px 0px rgba(255, 255, 255, 0.2);

  --shadow-onboarding-checklist-dropdown-button-hover:
    0px 0px 0px 2px rgba(41, 41, 41, 1),
    inset 0px -3px 7px 1px rgba(255, 255, 255, 0.3);

  /* Button Group */
  --shadow-button-group:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

  --shadow-button-group-focus:
    0px 0px 0px 4px rgba(120, 57, 238, 0.6),
    0px 0px 0px 2px rgba(255, 255, 255, 1);

  /* Product Listing */
  --shadow-product-listing-table-item-thumbnail:
    inset 0px 0px 0px 1px rgba(229, 229, 229, 0.7),
    inset 0px 0px 0px 3px rgba(255, 255, 255, 1);

  /* Bookings */
  --shadow-bookings-card:
    0px 2px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6);

  --shadow-bookings-card-hover:
    0px 2px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6),
    inset 0px 0px 0px 3px rgba(255, 255, 255, 1);

  /* Offers */
  --shadow-offers-card:
    0px 2px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6);

  --shadow-offers-card-hover:
    0px 2px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 2px 24px 0px rgba(0, 0, 0, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.6),
    inset 0px 0px 0px 3px rgba(255, 255, 255, 1);

  --shadow-offer-checkout-date-and-time-picker:
    0px 4px 20px 0px rgba(20, 20, 20, 0.04),
    0px 2px 8px 0px rgba(20, 20, 20, 0.08),
    0px 0px 0px 1px rgba(20, 20, 20, 0.05);

  --shadow-offer-checkout-date-and-time-picker-disabled-date: inset 0px 0px 0px
    1px rgba(229, 229, 229, 0.7);

  /* Clients */
  --shadow-client-list-item:
    inset 0px -3px 0px 0px rgba(20, 20, 20, 0.03),
    0px 0px 0px 1px rgba(229, 229, 229, 0.7);

  --shadow-client-next-session: inset 0px 0px 0px 1px rgba(229, 229, 229, 0.7);
}
